<h3><i class="fas fa-book-reader"></i> Story Books</h3>
<div class="section">
    <p class="lead"> Create public and private story of your life </p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="waves-effect waves-light btn red darken1">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>
<div class="section">
    <a href="/auth/facebook" class="waves-effect waves-light btn indigo darken-2">
        <i class="fab fa-facebook left"></i>Login with Facebook</a>
</div>